<h1>Editing semester</h1>

<%= error_messages_for :semester %>

<% form_for(@semester, :html => {:multipart => true}) do |f| %>
	<%= render :partial => 'form' , :locals=>{:f => f}%>
	<p>
	  <b>Registration form</b><br />
	  <%= f.file_field :registration_form %>
	</p>

	<p>
	  <%= f.submit "Update" %>
	</p>
<% end %>
<%= link_to 'Cancel', @semester %><br><br>
<%= link_to 'Show', @semester %> |
<%= link_to 'Delete', registration_url(@registration), 
          :confirm => 'Are you sure?', 
          :method => 'delete' %>
<%= link_to 'List', semesters_path %>
