<%= error_messages_for 'event' %>

<!--[form:event]-->
<p><label for="event_title">Title</label><br/>
<%= f.text_field 'title'  %></p>
<p><label for="event_date">Date</label><br/>
<%= f.date_select 'date'  %></p>
<p><label for="event_description">Description</label><br/>
<%= f.text_area 'description'  %></p>
<p><label for="event_price">Price</label><br/>
<%= f.text_field 'price'  %></p>


<!--[eoform:event]-->


