<%= error_messages_for 'class_schedule' %>

<!--[form:class_schedule]-->
<p><label for="class_schedule_age">Age</label><br/>
<%= f.text_field 'age'  %></p>
<p><label for="class_schedule_start_time">Start time</label><br/>
<%= f.time_select 'start_time'  %></p>
<p><label for="class_schedule_end_time">End time</label><br/>
<%= f.time_select 'end_time'  %></p>
<p><label for="class_schedule_cost">Cost</label><br/>
<%= f.text_field 'cost'  %></p>
<p><label for="class_schedule_occurs_on">Occurs on</label><br/>
<%= f.text_field 'occurs_on'  %></p>


<!--[eoform:class_schedule]-->


