<h1>New registration_form</h1>

<%= error_messages_for :registration_form %>

<%= link_to 'List', registration_forms_path %>

<% form_for(@registration_form, :html => {:multipart => true}) do |f| %>
	<%= render :partial => 'form' , :locals=>{:f => f}%>
	<p><label for="registration_form_file">File</label><br/>
	<%= f.file_field :file %><br><br>
  <%= submit_tag "Add" %>
<% end %>
