<%= error_messages_for 'seminar' %>

<!--[form:seminar]-->
<p><label for="seminar_title">Title</label><br/>
<%= f.text_field 'title'  %></p>
<p><label for="seminar_date">Date</label><br/>
<%= f.date_select 'date'  %></p>
<p><label for="seminar_description">Description</label><br/>
<%= f.text_area 'description'  %></p>
<p><label for="seminar_file">File</label><br/>
<%= f.text_field 'file'  %></p>


<!--[eoform:seminar]-->


